## Generating Random Data in Python

Generating random data has personally proved very useful for myself enabling me to gain more insight into data analysis. An interesting & useful approach I took when working with different Machine Learning Models, is to generate data inputting into different machine learning models and analysing the inherent mechanics and operations. 
This is my own personal experience and I am sure for generating random data this may only be the tip of the iceberg for such use cases.

Nevertheless, it is important in Python to know how to generate random data and that is exactly what this Notebook will be based on ! Python can generate such random numbers by using the RANDOM MODULE. Below we will first see how to generate a single random number and then extend it to generate a list of random numbers.


                                               NOTEBOOK CONTENTS
- Import Packages
- Generate a Single Random Number
- Generate a Random Number within a Range
- Generating a List of Random Numbers & Appending(adding!) to Empty List
- Generating random Data and inputting into Pandas-Dataframe

##### Import Packages

In [11]:
import numpy as np #fundamental package for scientific computing in Python.
import pandas as pd #data manipulation and analysis
import random #generate the pseudo-random variables

###### Generating a Single Random Number
- The random() method in random module generates a float number between 0 and 1.

In [12]:
#Generate Random Number between 0 and 1
number = random.random() # random.random() method returns a random float number between 0.0 to 1.0.
print(type(number)) #print data type of variable
print(number)

<class 'float'>
0.4234852744241768

##### Generating Number within a Range
- The randint() method generates a integer between a given range of numbers.

In [13]:
#Generate Random Integer between given range
n = random.randint(0,500) #random.randint() method returns a random integer between the specified integers
print(type(n))
print(n)

<class 'int'>
325

##### Generating a List of numbers Using For Loop

###### randint ( )

We can use the above randint() method along with a for loop to generate a list of numbers. We first create an empty list and then append the random numbers generated to the empty list one by one.

###### range( )

Parameter Values | Parameter | Description

- start | Optional. An integer number specifying at which position to start. Default is 0
- stop | Required. An integer number specifying at which position to stop (not included).
- step | Optional. An integer number specifying the incrementation. Default is 1

In [14]:
#Generate List of Numbers using a for loop
#Create Empty List
randomlist = []
#Initiate for loop to generate random numbers
for i in range(0,25): #range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number
    n = random.randint(1,200) #random.randint() method returns a random integer between the specified integers.
    randomlist.append(n) #append(add) to empty list

print(type(randomlist))
print(randomlist)

<class 'list'>
[145, 103, 152, 5, 76, 158, 200, 65, 168, 179, 122, 156, 106, 137, 57, 15, 18, 42, 158, 158, 41, 200, 40, 168, 154]

##### Using random.sample()
- We can also use the sample() method available in random module to directly generate a list of random numbers.Here we specify a range and give how many random numbers we need to generate.

In [15]:
#Generate 25 random numbers between 10 and 30
randomlist = random.sample(range(0, 3000), 25) #Pythonâ€™s random module provides random.sample() function for random sampling and randomly pick more than one element from the list without repeating elements.
print(type(randomlist))
print(randomlist)

<class 'list'>
[2773, 1128, 2326, 1169, 2247, 2113, 2788, 1466, 2772, 2747, 2282, 2266, 520, 2960, 1138, 840, 1866, 2373, 1912, 214, 2114, 357, 1675, 2548, 258]

##### Generating random data and inputting into Pandas-dataframe

In [17]:
#Create empty lists for indepedent variabes
X1 = []
X2 = []
X3 = []
X4 = []
X5 = []
X6 = []

#Initiate for loop to generate data
for n in range(0,1000):
    number1 = random.randint(0,50)
    X1.append(number1)
    number2 = random.randint(0,500)
    X2.append(number2)
    number3 = random.randint(250,500)
    X3.append(number3)
    number4 = random.randint(0,1500)
    X4.append(number4)
    number5 = random.randint(0,100)
    X5.append(number5)
    number6 = random.randint(2050,5000)
    X6.append(number6)
    
#Create DataFrame including all above features and randomly generated data
df = pd.DataFrame ({'X1':X1,'X2':X2,'X3':X3,'X4':X4,'X5':X5,'X6':X6})
#create a copy of original dataframe ...(good practice)
original_dataframe = df.copy(deep = True)

#Display head of dataframe, dataset information, summary information & dataframe size
display(df.head(), df.info(), df.describe(), df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X1      1000 non-null   int64
 1   X2      1000 non-null   int64
 2   X3      1000 non-null   int64
 3   X4      1000 non-null   int64
 4   X5      1000 non-null   int64
 5   X6      1000 non-null   int64
dtypes: int64(6)
memory usage: 47.0 KB

   X1   X2   X3   X4  X5    X6
0  17  196  431  207  61  2152
1   5  206  498  999  23  4783
2   7  277  440  664  30  3019
3  25  347  316  181  90  2290
4  18  493  422  737   7  3452

None

,X1,X2,X3,X4,X5,X6
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,25.413000,250.650000,370.717000,759.120000,51.423000,3481.688000
std,14.742855,145.689577,72.152303,440.609628,29.253544,849.956097
min,0.000000,0.000000,250.000000,1.000000,0.000000,2051.000000
25%,13.000000,123.000000,307.750000,364.000000,25.000000,2764.750000
50%,25.000000,244.500000,369.000000,750.500000,51.000000,3452.500000
75%,38.000000,376.250000,432.250000,1162.000000,77.000000,4230.000000
max,50.000000,500.000000,500.000000,1500.000000,100.000000,5000.000000

(1000, 6)