# GitHub 
# Simple Guide to import SQL Server Table into JupyterNotebook as CSV File using Python 

The following CODE is a helpful script that easily will allow you to as the heading describes import an sql server table into JupyterNotebook as CSV file using Python allowing for cool analysis and machine learning insights!

##### Requirements
Anaconda Jupyter Notebook Installed

Microsoft SQL Server Management Studio Installed

Server Name: LAPTOP-BM119fJR\SQLEXPRESS (example)
    
Database Name: AdventureWorksLT2008R2 (example)

##### NOTE 1

Server = Your Personal Server Name

This can be found when you open Microsoft SQL Server Management Studio

Database = Database Name you wish to work with !

###### NOTE 2

Indentation is KEY ! Make sure to check all code ! THIS WORKS

### Install Pyodbc
Install the following package if NOT already satisfied.

In [ ]:
pip install pyodbc

### Connecting Python to SQL
Import pyodbc & pandas package

In [ ]:
import pyodbc 
import pandas as pd # Enables SQL table to be imported as CSV file into JupyterNotebook

### CODE for importing SQL table into jupyter notebook

Remember Indentations and to use your personal SERVER & DATABASE names

In [ ]:
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=LAPTOP-BM119fJR\SQLEXPRESS;'
                      'Database=AdventureWorksLT2008R2;'
                      'Trusted_Connection=yes;')

### Transfering data into CSV file & specific sql query

Remember we can use any sql query objective dependent !

In [ ]:
df = pd.read_sql_query('SELECT * FROM SalesLT.Product', conn)
df