# Python Sets

Python Sets defined using {"",} and are one of four of Python's highly useful and recognized in-built data structures.

Charachteristics:
- Unordered

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.
- Immutable

Meaning that we cannot change the items after the set has been created. However, we can add or remove items from a set.
- Null Values not allowed

Sets cannot have two items with the same value.

- Set items can be of any data types

In [1]:
set_1 = {"Amazon","Tesla","Microsoft"}# define a set in python
set_2 = {200,300,150}
#
print(set_1)
print(set_2)
#
print(type(set_1))
print(type(set_2))
#
print(set_1[0])
print(type(set_1[0]))

{'Amazon', 'Tesla', 'Microsoft'}
{200, 300, 150}
<class 'set'>
<class 'set'>

TypeError: 'set' object is not subscriptable

###### Set() Constructor
It is also possible to use the set() constructor to make a set.

In [2]:
lst = [290,"Random",True]# creat a list
print(lst)
print(type(lst[-1]))
#
new_set = set(lst)# convert list to set
print(new_set)
print(type(new_set))

[290, 'Random', True]
<class 'bool'>
{'Random', True, 290}
<class 'set'>

### Access Items
You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [3]:
for x in new_set:
    print(type(x),x)

<class 'str'> Random
<class 'bool'> True
<class 'int'> 290

In [4]:
# membership operators
if 290 in new_set: # check if item (in) sequence
    print("Item-Identified")
if False not in new_set: # check if item (not-in) sequence
    print("Boolean-Not-Identfied")
#
# identity operators
if 290 is int:
    print("Item-is-Integer")
if "Random" != 290:
    print("Item-is-NOT-Integer")

Item-Identified
Boolean-Not-Identfied
Item-is-NOT-Integer

<>:8: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:8: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-4-80469562f790>:8: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if 290 is int:

### Add items to a set 
- To add one item to a set use the add() method
- To add items from another set into the current set, use the update() method

The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.)

In [5]:
set_a = {26,45,"Name"}
set_b = {200,"Address","Sort-Code"}

In [6]:
set_a.add(500) # add() - add item to one of sets
print(set_a)

{26, 500, 'Name', 45}

NOTE

We cannot use add method to add multiple items to a set 

Workaround - we could create a new set with the multiple items required and use the update method !

In [7]:
set_a.update(set_b) # update () method with another set
print(set_a) # check execution

{'Address', 500, 'Name', 200, 26, 45, 'Sort-Code'}

###### Remove Item/s & set/s
###### Part 1

- To remove an item in a set, use the remove(), or the discard() method.

If an item does not exist an error will be raised when using remove() method but an error will not be raised using discard() method

- You can also use the pop() method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

In [8]:
this_set = {"apple", "banana", "cherry", "orange", "plum"}
print(type(this_set),this_set)

<class 'set'> {'plum', 'apple', 'orange', 'cherry', 'banana'}

In [9]:
this_set.remove("cherry") # remove method()
print(this_set) # check execution

{'plum', 'apple', 'orange', 'banana'}

###### Error Handling
- The try block lets you test a block of code for errors.
- The except block lets you handle the error.
- The else block lets you execute code when there is no error.
- The finally block lets you execute code, regardless of the result of the try- and except blocks.

In [10]:
this_set

{'apple', 'banana', 'orange', 'plum'}

In [11]:
try: # try block lets you test a block of code for errors
    this_set.remove("pear") # remove method()
    this_set
except: # except block let you handle the error
    print("Pear is not present in set")
    this_set.remove("plum")
    print("Plum is present in set")
    this_set # check execution

Pear is not present in set
Plum is present in set

###### Part 2
- The clear() method empties the set
- The del keyword will delete the set completely

In [24]:
new_set = {"apple", "banana", "cherry", 200,"Address","Sort-Code", 26,45,"Name"}
additional_set = {"Amazon","Microsoft","Tesla"}
#
print(type(new_set),new_set)
print(type(additional_set),additional_set)

<class 'set'> {'apple', 'Name', 'cherry', 200, 'banana', 'Address', 45, 26, 'Sort-Code'}
<class 'set'> {'Amazon', 'Tesla', 'Microsoft'}

In [25]:
new_set.update(additional_set) # update () method with another set
print(type(new_set),len(new_set),new_set) # check execution

<class 'set'> 12 {'Amazon', 'apple', 'Name', 'cherry', 200, 'banana', 'Address', 45, 'Microsoft', 'Tesla', 26, 'Sort-Code'}

clear () method - empty items in a set

In [26]:
additional_set.clear() # clear method()
if len(additional_set) < 1:
    print("Clear-Method-Succesfull")
    print(additional_set)# checke execution

Clear-Method-Succesfull
set()

del keyword - deletes the set completely

In [27]:
del additonal_set # del keyword will delete the set completely
additional_set # check execution

NameError: name 'additonal_set' is not defined

NOTE 
- We expect an error to be raised above as we used our del keyword to permanently delete the set. 
- The NameError raised confirms the deletion keyword success !